<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Classic Plugin" name="app-shell">
  <lifecycle-listener class="com.pentaho.appshell.resources.PluginsAppShellConfigHandler"/>
  <overlays/>
  <perspective/>
  <external-resources/>
  <static-paths>
    <static-path url="/app-shell/webclient" localFolder="webclient"/>
  </static-paths>
  <content-types/>
</plugin>
